<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gauravbhola.asyncsample">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:name=".ContactsApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.gauravbhola.asyncsample.ui.activities.ViewContactsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.gauravbhola.asyncsample.ui.activities.AddContactsActivity"
            android:label="@string/title_add_contact_activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gauravbhola.asyncsample.ui.activities.ViewContactsActivity" />
        </activity>

    </application>

</manifest>